.body{
    background-color: rgba(0, 0, 0, 0.523);
    margin-top:60px;
}
form{
    /* border: 1px solid black; */
    width: 330px ;
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0% auto;
    background-color: rgba(0, 0, 0, 0.523);
    border-radius: 10%;
    }
   

input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin:8px;
    border: 1px solid black;
    background-color: black;
    color:#ffffff;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 2px 1px 2px 2px black;
    
   }
#text{
    width: 260px;
    height: 70px;
    background-color: rgb(141, 141, 5);
    color: black;
    text-align: right;
    
}
input:hover{
    background-color: rgb(50, 205, 117);
    color: #000000;
}
input:active{
    background-color: rgb(130, 0, 252);
    color: #ffffff;
}
#c{
    width: 120px;
    background-color: rgb(181, 38, 38);
}
#c:hover{
    background-color: rgb(50, 205, 117);
    color: #000000;
}
#c:active{background-color: rgb(130, 0, 252);
    color: #ffffff;}